.text-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  font-family: 'PT Serif', Georgia, serif;
  font-size: 15px;
  margin-left: 12px;
  margin-right: 20px;

  .title {
    font-weight: bold;
    margin-bottom: 4px;
  }

  .material {
    font-style: italic;
  }

  .period {
    font-style: italic;
    margin-bottom: 4px;
  }

  .lastPrice {
    font-size: 13.5px;
    font-weight: bold;
    margin-left: 6px;
    flex-grow: 1;

    .text {
      font-size: 13.5px;
      margin: 0;
      text-decoration: line-through;
    }
  }

  .price {
    font-size: 13.5px;
    font-weight: bold;
    margin-left: 6px;
    flex-grow: 1;
  }

  .discountPrice {
    font-size: 13.5px;
    font-weight: bold;
    margin-left: 49px;
    color: brown;
    flex-grow: 1;
  }

  .article_id {
    font-size: 12px;
    margin: 4px 0 0 12px;
  }
}
